In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../output/ipl-delivery-clean.csv")
df.sample(5)

,Unnamed: 0,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
108315,108315,457,2,Chennai Super Kings,Mumbai Indians,5,5,DJ Bravo,M Vijay,PP Ojha,...,0,0,0,0,1,0,1,NaN,NaN,NaN
30856,30856,133,1,Delhi Daredevils,Rajasthan Royals,18,3,M Manhas,DL Vettori,SK Warne,...,0,0,0,0,1,0,1,NaN,NaN,NaN
110206,110206,465,1,Chennai Super Kings,Delhi Daredevils,19,2,RA Jadeja,MS Dhoni,JD Unadkat,...,0,0,0,0,1,0,1,NaN,NaN,NaN
130599,130599,551,2,Chennai Super Kings,Sunrisers Hyderabad,8,2,F du Plessis,SK Raina,MC Henriques,...,0,0,0,0,1,0,1,NaN,NaN,NaN
104966,104966,443,1,Delhi Daredevils,Kings XI Punjab,10,2,DA Warner,MC Juneja,DJ Hussey,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [3]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,False,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,False,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,False,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,False,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,False,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,False,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,False,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,False,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,False,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,False,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

## Group by bowler name

In [5]:
bowlers_group = df.groupby("bowler")

In [6]:
ts_mills_group = bowlers_group.get_group("TS Mills")

In [7]:
ts_mills_bowled_against = ts_mills_group["batting_team"].unique().tolist()

In [8]:
ts_mills_bowled_against

['Sunrisers Hyderabad',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Mumbai Indians',
 'Kolkata Knight Riders']

In [23]:
def get_ts_mills_bowling_stats():
    g = ts_mills_group.groupby(["batting_team", "match_id", "over"])
    for team in ts_mills_bowled_against:
        print(g.get_group(team))


get_ts_mills_bowling_stats()

ValueError: must supply a tuple to get_group with multiple grouping keys